.container{
    background-color: darkturquoise;
    width: 100%;
}
h1 {
    color: crimson;
}
.one{
    text-align: center;
    line-break: auto;
    height: 100vh; 
    
}
h2{
    color: crimson;
    text-align: center;
}



