.container{
    background-color: darkturquoise;
    width: 100%;
}
h1 {
    color: crimson;
}
h2{
    color: crimson;
    text-align: center;
}

label{
    color:crimson;
}
.jumbotron{
    text-align: center;
}
.footer{
    color:crimson;
    text-align: center;
}
.form-group{
    text-align: center;
}


