.container{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSoqN_2XC34wx1NQqZg7uSjZjRLL8MLgJapUbvhq9qrvhba5ktY&usqp=CAU");
    background-size: cover;
    background-repeat: no-repeat;
    
}
h1 {
    color: crimson;
}
h2{
    color: black;
    
}

label{
    color:white;
    
}
.jumbotron{
    background-color: darkturquoise;
    
}
.footer{
    color:crimson;
    text-align: center;
}


input{
       
        display:inline-block;
        width:100px;
}
.row{
    text-align: center;
}
h2{
    color:black;
}


